
body{
    font-family: "Azeret Mono", monospace;
}
.background-pic{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 652px;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.group-pic{
    padding-top: 50px;
    margin-left: 30%;
}
.fist-line{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    
}
.basic-intro{
    text-align: center;
    color: #0D1321;
    font-size: 18px;
   text-align: center;
}
.contact-with-me{
    padding: 24px 21px;
    background-color: #0D1321;
    color:#FFFFFF ;
    width: 244px;
    height: 65px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30%;
}

.Web-Development{
    height: 1180px;
    width: 1140px;
    background-color: rgba(255, 255, 255, 1) ;

    margin: 100px 50vh;
}
.whywebdevelopment{
    background-color: rgba(13, 19, 33, 0.02); 
    margin: 70px;
    
}
.title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
    padding-top: 60px;
}
.description{
    text-align: center;
    padding-bottom: 20px;
}
.development-contents1{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.development-contents2{
    padding-left: 110px;
    display: flex;
    justify-content: normal ;
    gap: 40px;
    padding-bottom: 40px;
}
.development-contents3{
    padding-left: 90px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.learn-more{
    height: 47px;
    width: 171px;
    font-size: 20px;
    margin-top: 10px;
}

.inspire{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.video-open{
   margin-left: 600px;
   padding: 18px;
   border-radius: 10px;

}
.current-target{
    width: 1140px;
    height: 500px;
    margin: 100px 600px;
}
.three-target{
align-items: center;
justify-content: center;
text-align: center;
}
.individualtarget{
    display: flex;
    gap: 20PX;
}
.learn-more{
    text-decoration: underline;
}
.target-des{
    padding: 20PX;
}
.html-group{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 28px;
}
.css-group{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 28px;
}
.js-group{
    background-color:rgba(255, 223, 0, 0.05) ;
    padding: 28px;
}
.support-section{
    display: flex;
    margin-left: 600px;
}
.handshakepic {
    background-image: url(assets/handshake.png);
    width: 1140px;
    height: 313px; 
    background-size: cover; 
    background-position: center;
    align-items: center;
    justify-content: center;
  
}
.submit{
    display: flex;
    gap: 10px;
    padding-left: 220px;
}
.handshakepic{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.support-title{
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    line-height: 36px
}
.support-des{
    color: white;
    font-size: 18;
    line-height: 26px;
}
.submit-box{
    height: 57px;
    width: 548px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    
}
.submit-btn{
    height: 59px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
.footer-color{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 36px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgba(13, 19, 33, 0.03);
    padding-left: 600px;
}
.icons{
    display: flex;
    gap: 20px;
    padding-top: 11px;
}